<div class="container">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <h2 class="title">Clientes Registrados</h2>
    <div class="table-wrapper">
      <table class="user-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Ciudad</th>
            <th>Correo</th>
            <th>Contraseña</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayUser">
            <th>{{item.id_usuario}}</th>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.edad }}</td>
            <td>{{ item.ciudad }}</td>
            <td>{{ item.correo }}</td>
            <td>{{ item.password }}</td>
           
           
           
            <td>
              <button class="btn-edit" (click)="editarUsuario(item)">
                <i class="fas fa-edit"></i> Editar
              </button>
              <button class="btn-delete" (click)="deleteUser(item.id_usuario)">
                <i class="fas fa-trash-alt"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
<br><br>

<form id="formularioEdicion" *ngIf="formVisible" [formGroup]="nuevoUsuarioForm" (ngSubmit)="actualizarUsuario()">
  <label for="id_usuario">ID:</label>
  <input id="id_usuario" formControlName="id_usuario" required readonly>
  
  <label for="nombre">Nombre:</label>
  <input id="nombre" formControlName="nombre" required>

  <label for="apellido">Apellido:</label>
  <input id="apellido" formControlName="apellido" required>
  
  <label for="correo">Correo Electrónico:</label>
  <input id="correo" formControlName="correo" required>

  <label for="password">Contraseña:</label>
  <input id="password" formControlName="password" required>
  
  <label for="edad">Edad:</label>
  <input id="edad" formControlName="edad" required>
  
  <label for="ciudad">Ciudad:</label>
  <input id="ciudad" formControlName="ciudad" required>


  
  <button type="submit"><i class="fas fa-check"></i> Actualizar Usuario</button>
  <button type="button" (click)="cancelarEdicion()"><i class="fas fa-times"></i> Cancelar</button>
</form> 